body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

.hero 
{
    background-color: #2E2F42;
    color: white;
}

.order-button
{
    background-color: #4D5AE5;

}

.link {
    text-decoration: none;
}
.accent {
    color: #4D5AE5; 
}

.order-button{
    text-decoration: none;
}

.navigation{
    text-decoration: none;
}

